En ayant à présent assez d’explorer sans but précis, vous vous fixez un petit challenge ! Vous prenez les données des arbres remarquables de Paris et répondez à plusieurs questions que vous vous posez :

    Quel âge a notre plus vieil ami?
    Quel est le volume du plus grand arbre ?
    Quelle est la hauteur moyenne de ces spécimens ?
    Dans quel arrondissement y a-t-il le plus d’arbres ?
    Combien y a-t-il d'arbres au Cimetière du Père Lachaise ?

In [3]:
from pyspark import SparkConf, SparkContext
from datetime import datetime
# Créez une configuration Spark:
conf = SparkConf().setAppName("SimpleApp").setMaster("local[*]")
sc = SparkContext(conf=conf)

24/07/30 21:41:34 WARN Utils: Your hostname, locoselli-HP-ProDesk-400-G4-MT resolves to a loopback address: 127.0.1.1; using 192.168.1.21 instead (on interface wlx242fd066436c)
24/07/30 21:41:34 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/07/30 21:41:35 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/07/30 21:41:36 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/07/30 21:41:36 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [4]:
# Chargement des données CSV dans un RDD
rdd_arbres = sc.textFile("arbresremarquablesparis.csv")

In [5]:
rdd_arbres.take(1)

["Geo point;idbase;domanialite;arrondissement;complement adresse;numero;adresse;circonference en cm;hauteur en m;stade développement;pépinière;genre;espèce;varieteoucultivar;date de plantation;libellé Français;ID Base;ID arbre;Site;Adresse;Complément d'adresse;Arrondissement;Domanialité;Dénomination usuelle;Dénomination botanique;Autorité taxonomique;Année de plantation;Qualification remarquable;Résumé;Descriptif;Numéro de délibération;Date de la délibération;Label national;Panonceau;Photo 1;Copyright 1"]

In [6]:
# En-tête du fichier CSV : Nous extrayons la première ligne (l'en-tête) du RDD. (les colonnes)
header = rdd_arbres.first()
header #cabeçalho

"Geo point;idbase;domanialite;arrondissement;complement adresse;numero;adresse;circonference en cm;hauteur en m;stade développement;pépinière;genre;espèce;varieteoucultivar;date de plantation;libellé Français;ID Base;ID arbre;Site;Adresse;Complément d'adresse;Arrondissement;Domanialité;Dénomination usuelle;Dénomination botanique;Autorité taxonomique;Année de plantation;Qualification remarquable;Résumé;Descriptif;Numéro de délibération;Date de la délibération;Label national;Panonceau;Photo 1;Copyright 1"

In [7]:
separateur= ';'

In [1]:
nome_completo = "Rodrigo Locoselli"

lista = nome_completo.split(" ")

0
Rodrigo
1
Locoselli

['(Rodrigo,0)', '(Locoselli,1)']

In [10]:
myEnumerate = enumerate(header.split(separateur))

[(n, i) for i, n in myEnumerate]

[('Geo point', 0, 'batata'),
 ('idbase', 1, 'batata'),
 ('domanialite', 2, 'batata'),
 ('arrondissement', 3, 'batata'),
 ('complement adresse', 4, 'batata'),
 ('numero', 5, 'batata'),
 ('adresse', 6, 'batata'),
 ('circonference en cm', 7, 'batata'),
 ('hauteur en m', 8, 'batata'),
 ('stade développement', 9, 'batata'),
 ('pépinière', 10, 'batata'),
 ('genre', 11, 'batata'),
 ('espèce', 12, 'batata'),
 ('varieteoucultivar', 13, 'batata'),
 ('date de plantation', 14, 'batata'),
 ('libellé Français', 15, 'batata'),
 ('ID Base', 16, 'batata'),
 ('ID arbre', 17, 'batata'),
 ('Site', 18, 'batata'),
 ('Adresse', 19, 'batata'),
 ("Complément d'adresse", 20, 'batata'),
 ('Arrondissement', 21, 'batata'),
 ('Domanialité', 22, 'batata'),
 ('Dénomination usuelle', 23, 'batata'),
 ('Dénomination botanique', 24, 'batata'),
 ('Autorité taxonomique', 25, 'batata'),
 ('Année de plantation', 26, 'batata'),
 ('Qualification remarquable', 27, 'batata'),
 ('Résumé', 28, 'batata'),
 ('Descriptif', 29, 'batata'),
 ('Numéro de délibération', 30, 'batata'),
 ('Date de la délibération', 31, 'batata'),
 ('Label national', 32, 'batata'),
 ('Panonceau', 33, 'batata'),
 ('Photo 1', 34, 'batata'),
 ('Copyright 1', 35, 'batata')]

In [12]:
df_arbres = rdd_arbres.filter(lambda line: line != header).map(lambda line: line.split(separateur))

PythonRDD[4] at RDD at PythonRDD.scala:53

## Quel âge a notre plus vieil ami?

In [13]:
def calculer_age(x):
    return datetime.now().year - int (x[:4])

In [14]:
(
    rdd_arbres
    .filter(lambda line: line != header)
    .map(lambda line: line.split(separateur))
    .map(lambda line: (line[3], line[6], float(line[7]), float(line[8]), calculer_age(line[14]), str(line[18]))) # garder 3, 6, 7, 8, 14 et 18
    .sortBy(lambda line: line[4], ascending= False) # trouver le plus vieux
).take(1)

[('PARIS 5E ARRDT',
  'SQUARE RENE VIVIANI MONTEBELLO / 2 RUE DU FOUARRE',
  365.0,
  15.0,
  422,
  'Square René Viviani')]

## Quel est le volume du plus grand arbre ?

In [15]:
(
    rdd_arbres
    .filter(lambda line: line != header)
    .map(lambda line: line.split(separateur))
    .map(lambda line: (line[3], line[6], float(line[7]), float(line[8]), calculer_age(line[14]), str(line[18]))) # garder 3, 6, 7, 8, 14 et 18
    .sortBy(lambda line: line[2], ascending = False) # trouver la plus volumeuse
).take(1)

[('PARIS 19E ARRDT',
  'PARC DES BUTTES CHAUMONT',
  740.0,
  30.0,
  324,
  'Parc des Buttes Chaumont')]

## La hauteur moyenne de ces spécimens:

In [159]:
(
    rdd_arbres
    .filter(lambda line: line != header)
    .map(lambda line: line.split(separateur))
    .map(lambda line: (line[3], line[6], float(line[7]), float(line[8]), calculer_age(line[14]))) # garder 3, 6, 7, 8, 14 et 18
    .map(lambda line : line[3]).mean() # trouver la moyenne
)

20.129032258064512

## Dans quel arrondissement y a-t-il le plus d’arbres ?

In [160]:
(
    rdd_arbres
    .filter(lambda line: line != header)
    .map(lambda line: line.split(separateur))
    .map(lambda line: (line[3], line[6], float(line[7]), float(line[8]), calculer_age(line[14]), str(line[18]))) # garder 3, 6, 7, 8, 14 et 18
    .map(lambda line: (line[0], 1))
    .reduceByKey(lambda a, b: a + b)
    .max(key=lambda x: x[1]) #Trier les résultats et obtenir l'arrondissement avec le plus grand nombre d'arbres :
)

('BOIS DE VINCENNES', 33)

## Combien y a-t-il d'arbres au Cimetière du Père Lachaise ?

In [161]:
(
    rdd_arbres
    .filter(lambda line: line != header)
    .map(lambda line: line.split(separateur))
    .map(lambda line: (line[3], line[6], float(line[7]), float(line[8]), calculer_age(line[14]), str(line[18]))) # garder 3, 6, 7, 8, 14 et 18
    .filter(lambda line: 'Cimetière du Père Lachaise' in line[5])
    .count()  ## Filtrer les arbres situés dans le "Cimetière du Père Lachaise" et compter le nombre d'arbres
)

9

Arrêt du contexte Spark

In [126]:
sc.stop()